/* .App {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.canvasComponent {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.timerComponent {
  padding-top: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
